.* {
  margin: 0;
  padding: 0;
}
.main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.heading {
  font-family: impact;
  font-size: 24px;
  background: -webkit-linear-gradient(rgb(196, 2, 2), rgb(180, 142, 142));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  letter-spacing: 0.5em;
  padding-bottom: 550px;
}

.img-card {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.image {
  width: 100%;
}

.main .gallery {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vmin;
  margin-top: 180px;
}

.main .gallery .image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
