* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: gadekarartsfont;
  src: url(./components/Winterland\ free\ for\ personal\ use.ttf);
}

.app {
  text-align: center;
  min-height: 100vh;
  background-image: url("./assets/images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  color: green !important;
  font-weight: bold !important;
  font-size: 28px !important;
}
